@model IEnumerable<prgBurgerRestaurant.Models.ViewModelBurger>

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<style>.box 
{
        background-color: rgb(255 255 255 / 30%);
        backdrop-filter: blur(10px);
}
body 
{
    background-image: url("Images/2.png");
    background-size: cover;
}
</style>

<div class="container">
    <div class="box">
        <p>
            <a asp-action="Create">Add to order</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Bun)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Toppings)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Condiments)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) 
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bun)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Toppings)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Condiments)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
